<div class="outer-container">
  <div class="save-bar">
    <h1>
      Welcome! Please login.
    </h1>
  </div>
</div>
<!-- Display the login form -->
<div class="container-outer">
  <div id='login'>
    <div class="box">
      <p>{{message}}</p>
      <form ng-submit="">
        <label>User name:</label>
        <input class="error" ng-model="username" type="text" size=15 autofocus/><br />
        <label>Image:</label>
        <input ng-model="image" type="hidden" /><br />

        <!-- <front-end/> -->


        <button ng-click="submitLogin()" type="submit" ng-model="loginInProgress" disabler="'Login'" value='Login'>Login</button>
      </form>
    </div>
  </div>
</div>
