<h1>Quiz</h1>
<div id="image-container" class="hidden">
<div id="note">

</div>


	<video id="video" width="640" height="480" autoplay></video>
	<canvas id="hiddenCanvas" width="640" height="480" style="display: none;"></canvas>
	<button class="startCapture">start capture</button>
	<button class="stopCapture hidden">stop capture</button>
</div>

<div id="quiz">
<article>
	<h1>What is the answer to the first question?</h1>
	<ul>
		<li><input type="radio" name="q1" value="1"/>1</li>
		<li><input type="radio" name="q1" value="2"/>2</li>
		<li><input type="radio" name="q1" value="3"/>3</li>
		<li><input type="radio" name="q1" value="4"/>4</li>
	</ul>
</article>

<article>
	<h1>What is the answer to the second question?</h1>
	<ul>
		<li><input type="radio" name="q2" value="1"/>1</li>
		<li><input type="radio" name="q2" value="2"/>2</li>
		<li><input type="radio" name="q2" value="3"/>3</li>
		<li><input type="radio" name="q2" value="4"/>4</li>
	</ul>
</article>

<article>
	<h1>What is the answer to the third question?</h1>
	<ul>
		<li><input type="radio" name="q3" value="1"/>1</li>
		<li><input type="radio" name="q3" value="2"/>2</li>
		<li><input type="radio" name="q3" value="3"/>3</li>
		<li><input type="radio" name="q3" value="4"/>4</li>
	</ul>
</article>

<article>
	<h1>What is the answer to the fourth question?</h1>
	<ul>
		<li><input type="radio" name="q4" value="1"/>1</li>
		<li><input type="radio" name="q4" value="2"/>2</li>
		<li><input type="radio" name="q4" value="3"/>3</li>
		<li><input type="radio" name="q4" value="4"/>4</li>
	</ul>
</article>

<article>
	<h1>What is the answer to the fifth question?</h1>
	<ul>
		<li><input type="radio" name="q5" value="1"/>1</li>
		<li><input type="radio" name="q5" value="2"/>2</li>
		<li><input type="radio" name="q5" value="3"/>3</li>
		<li><input type="radio" name="q5" value="4"/>4</li>
	</ul>
</article>

<article>
	<h1>What is the answer to the sixth question?</h1>
	<ul>
		<li><input type="radio" name="q6" value="1"/>1</li>
		<li><input type="radio" name="q6" value="2"/>2</li>
		<li><input type="radio" name="q6" value="3"/>3</li>
		<li><input type="radio" name="q6" value="4"/>4</li>
	</ul>
</article>

<input type="submit" value="Submit"/>

</div>
