<h1>Image test</h1>
<div id="image-container" class="hidden">
	<video id="video" width="640" height="480" autoplay></video>
	<canvas id="hiddenCanvas" width="640" height="480" style="display: none;"></canvas>
	<button class="startCapture">start capture</button>
	<button class="stopCapture hidden">stop capture</button>
</div>
