<h1>Image test</h1>
<div id="image-container">
	<img id="preview" src="">
	<input type="text" id="imageToForm">
	<video id="video" width="640" height="480" autoplay></video>
	<canvas id="canvas" width="640" height="480"></canvas>
	<button id="captureImage">capture</button>
</div>
<script type='text/javascript' src='/js/front-end.js'></script>
