<h1>Image test</h1>
<div id="image-container">
	<img id="preview" src="">
	<input type="text" id="imageToForm">
	<button id="captureImage">capture</button>
</div>
<script type='text/javascript' src='/js/front-end.js'></script>
